<header>
  <div class="nav-container">
    <a routerLink="/home" class="brand">Home</a>

    <div class="center-nav">
      <a routerLink="/movies" routerLinkActive="active">Movies</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/create" routerLinkActive="active">Create</a>
    </div>

    <div class="auth-nav">
      <a routerLink="/logout" routerLinkActive="active" (click)="logout()">Logout</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </div>
</header>