.blog__post {
  position: relative;
  padding: 1.75rem;
  border-radius: 12px;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform .2s ease, box-shadow .2s ease;
  margin-top: 40px;
  height: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.blog__post::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.40);
  border-radius: 12px;
  z-index: 1;
}

.blog__post:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.blog__meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  z-index: 2;
  position: relative;
  margin-bottom: 0;
}

.blog__date {
  color: #d4d4d4;
}

.blog__genre {
  background-color: #e0f2fe;
  color: #0284c7;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
}

.blog__genre:hover {
  background-color: #b5e1f9;
}

.blog__post-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  z-index: 2;
  position: relative;
}

.blog__post-title a {
  text-decoration: none;
  color: #e0f2fe;
}

.blog__post-title a:hover {
  color: #f600f6;
}

.blog__description {
  margin-top: 0px;
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
  position: relative;
    white-space: normal;
  word-break: break-word;
}

.blog__author {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  z-index: 2;
  position: relative;
  font-size: 1.1rem;
  margin-top: auto;
}

.blog__author-info {
  font-size: 1.1rem;
}

.blog__author-name {
  font-weight: 600;
  color: #ffffff;
}

.blog__author-name a {
  text-decoration: none;
  color: inherit;
}

.blog__author-email {
  color: #d3d3d3;
}
