<div class="not-found-container">
    <div class="text-center">
        <div class="content-wrapper">
            <p class="error-code">404</p>
            <h1 class="title">Page not found</h1>
            <p class="message">
                Sorry, we could not find the page you are looking for.
            </p>
        </div>
        <div class="actions">
            <a routerLink="/home" class="go-home-button" aria-label="Go back home">
                Go back home
            </a>
            <a routerLink="/movies" class="go-to-movies" aria-label="Go see games">
                Go see movies <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
    </div>
</div>